.container {
    border: 2px solid silver;
    height: 400px;

}

.container__item {
    padding: 10px;
    overflow: auto;
}

.container__table {
    flex-grow: 0;
}

.container__chart {
    min-height: 50%;
    flex-grow: 1;
}

.container__separator {
    border: 1px solid silver;
}