.table {
    border-collapse: collapse;
}

.table__cell {
    border: 1px solid #e9e9e9;
    border-left: none;
    border-right: none;
    min-width: 20px;
    font-weight: normal;
}

.table__cell-inner{
    padding: 4px 8px;
}

.table__body .table__row:nth-child(even) {
    background-color: #ffffff;
}

.table__body .table__row:nth-child(odd) {
    background-color: #f5f6f7;
}
